.footer {

    background-color: #f0f0f0;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    /* text-align: center; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    background: linear-gradient(to top, #336699, #ffffff);
}