<div class="main">  
<div class= "class1">
    <img src="../../assets/5704293.jpg" alt="">
</div>
<div class="class2">
    <h1>Add New Product</h1>
    <form #addproduct=ngForm class="commonForm" (ngSubmit)="addUserProduct(addproduct.value)">
        <p>{{productMsg}}</p>
        <input type="text" class="commonInput" placeholder="Enter product name" name="name" ngModel />
        <input type="text" class="commonInput" placeholder="Price" name="price" ngModel />
        <input type="text" class="commonInput" placeholder="color" name="color" ngModel />
        <input type="text" class="commonInput" placeholder="category" name="category" ngModel />
        
        <textarea type="text" class="commonInput" placeholder="Describe product" name="discription" ngModel ></textarea>
        <input type="text" class="commonInput" placeholder="Image Url" name="Url" ngModel />
        <button class="commonBtn">Add Product</button>
    </form>
</div>
</div>
