table{
    text-align: left;
    color: rgb(31, 7, 247);
    border-collapse: collapse;
}
table td, table th{
    border: 1px solid rgb(2, 18, 251);
    padding: 10px;
    min-height:160px ;
}
img{
    height: 100px;
    width: 100px;
}
.updateLink{
    margin-left: 15px;
}