<div class="Seller">

    <div class="selerAuth">
        <div *ngIf="!showLogin" class="signup">
            <h1>Seller Sign Up</h1>
            <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="sellerApun" >
                <input class="commonInput" type="text" ngModel name="userName" placeholder="Enter name" />
                <input class="commonInput" type="password" ngModel name="password" placeholder="Enter password" />
                <input class="commonInput" type="text" ngModel name="email" placeholder="Enter Email" />
                <button class="commonBtn">signup</button>
                <p class="toggleLink" (click)="openLogin()">Already have Account? Click Log In</p>
            </form>
        </div>
        <!-- Login Area-->
        <div *ngIf="showLogin" class="signup">
            <h1>Seller Log In</h1>
            <form #sellerLogIn="ngForm" (ngSubmit)="logInPage(sellerLogIn.value)" class="sellerApun">
                <input class="commonInput" type="text" ngModel name="email" placeholder="Enter Email" />
                <input class="commonInput" type="password" ngModel name="password" placeholder="Enter password" />

                <button class="commonBtn">Log In</button>

                <p class="toggleLink" (click)="openSignUp()">Dont have Account? Register</p>
                <p>{{authError}}</p>
            </form>
        </div>

    </div>
    
    <div class="image">
        <img class="sellerimg" src="../../assets/SellerSignup.jpg">
    </div>

</div>
