body{
    font-family: sans-serif;
    
}
.container{
    margin-left: 5%;
    margin-right: 5%;
}

.commonForm{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
    padding: 10px;
    border-radius: 30px;
    background-color: rgb(199, 203, 203);
}
.commonInput{
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid rgb(32, 4, 243);
    color: rgb(4, 8, 245);
    border-radius: 5px;
}
.commonBtn{
    height: 35px;
    border: 1px solid rgb(58, 5, 248);
    margin: 5px;

}
.carousel-caption{
    background-color: #00000082;
}
.carousel-control-next-icon,.carousel-control-prev-icon{
    background-color: #00000082;
    border-radius: 5px;
}

.invalid-input{
    color: red;
    font-size: 12px;
    margin-top: -20px;
}
button:disabled{
    cursor: not-allowed;
}
.error-p{
    color: red;
}