<div class="HomeContainer">
<div class="carouselContainer">
	<ngb-carousel *ngIf="popularProducts" >
		<ng-template ngbSlide *ngFor="let item of popularProducts">
			<div class="picsum-img-wrapper">
				<a routerLink="/Details/{{item.id}}">
					<img class="productHeaderImg" src="{{item.Url}}" alt="Random first slide" /></a>
			</div>
			<div class="carousel-caption">
				<h3>{{item.name}} </h3>
				<p>{{item.discription}}</p>
			</div>
		</ng-template>
	</ngb-carousel>
</div>

<div class="Homeproductlist" >
	<h1>Trendy Products</h1>
	<div class="row">
		<div class="col-sm-3" *ngFor="let item of trendyproduct">
			<div class="product-item">
				<img src="{{item.Url}}" alt="">

				<div class="product-details">
					<div class="product-detail">
						<h6 class="name-head">{{item.name}}</h6>
					</div>
					<div class="product-price">{{item.price}}

					</div>
					<div class="product-color"> {{item.color}}
					</div>
					<div class="product-footer">
						<a routerLink="/Details/{{item.id}}"> View Details</a>
						<a href="">Add to cart</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
